body{
    margin: 0;
    padding: 0;
}
.top-banner{
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding-left: 100px;
    margin-top: -20px;
    margin-bottom: 200px;
}
.banner-heading {
    text-align: center;
    padding: 150px;
}
.banner-heading h1{
    font-size: 60px;
    color: aliceblue;
}

.banner-heading p {
    font-size: 30px;
    color: aliceblue;
    font-weight: 700;
}
.anchor-btn {
    text-decoration: none;
    font-size: 30px;
    background-color: rgb(124, 177, 39);
    color: white;
    padding: 20px 30px;
    font-weight: 800;
    border-radius: 5px;
    margin-top: 20px;


}

.our-donate {
    text-align: center;
    margin-bottom: 150px;
}

.donate-today {
    margin-bottom: 50px;
}
.donate-today h1{
    font-size: 70px;
    font-weight: 700;
}
.donate-today p{
    font-size: 20px;
    font-weight: 700;
}
.donate-money {
    display: flex;
    justify-content: space-evenly;
}

.donate-money h2 {
    font-size: 40px;
    margin-left: 5px;
    font-family: monospace;
    font-style: italic;
    background-color: rgb(209, 201, 201);
    padding: 50px;
    border-radius: 5px;
}
#spacial-h2 {
    background-color: rgb(168, 121, 121);
    border: 2px solid yellow;
}

.other-donate h3{
    font-weight: 700;
    color: gray;
}
#horizontal-line{
    width: 700px;
    margin-bottom: 50px;
}